#myNavbar {
    height: 100px;
}

#myNavbarText{
    font-size: 50px;
}


#firstRow{
/* border: solid; */
/* border-color: black; */
height: 800px;
margin-top: 50px;
}

#firstColumn{
    /* border: solid;
    border-color: black; */
    height: 800px;
    background-color: rgb(243, 243, 243);
    margin-right: 20px;
}

#secondColumn{
    /* border: solid;
    border-color: black; */
    height: 800px;
}

#firstColFirstRow{
    /* border: solid;
    border-color: black; */
    height: 100px;
}

#firstColSecondRow{
    /* border: solid;
    border-color: black; */
    height: 700px;
}

#secondColFirstRow{
    border: solid;
    border-color: black;
    height: 300px;
}

#secondColSecondRow{
    /* border: solid;
    border-color: black; */
    height: 75px;
}

#firstColSecondRowCol{
    /* border: solid;
    border-color: black; */
    height: 700px;
}

.cityRow{
    border: solid;
    height: 50px;
    text-align: center;
}

#thirdColSecondRow{
    /* border: solid;
    border-color: black; */
    height: 425px;
}

.fiveDay {
    /* background-color: blue; */
    border: solid;
    margin: 15px;
    margin-top: 30px;
    height: 85%;
}

